<ion-view view-title="About Flashcards">
    <ion-nav-title class="title title-center">
        About Flashcards
    </ion-nav-title>
    <ion-content>
        <div class="list card">

            <div class="item">

                <h2><i class="ion-information-circled"></i> Plans</h2>

                <p>What should you expect in the future</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="img/future.jpg">

                <ul class="list">
                    <li class="item" style="overflow: visible">Integration with the Quizlet service <br/>
                        that allows downloading flashcards <br/>
                        from the Internet
                    </li>
                    <li class="item">Multilanguage support</li>
                </ul>

            </div>

            <div class="item">

                <h2><i class="ion-android-contact"></i> Contact</h2>

            </div>

            <div class="item item-body">
                If something is not working, you have questions or suggestions please contact me:
                <mailto>l.godlewski@live.com</mailto>
            </div>

        </div>
    </ion-content>
</ion-view>
