<ion-view id="categories-page">
    <ion-nav-title class="title title-center">
        Categories
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-add-circle"
                data-on-enter-name="addCategory(name)" add-category>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="searchBox">
        </label>
        <ul class="list">
            <li ng-repeat="category in categories | filter:searchBox"
                data-categories-list-item
                data-category="category"
                data-on-hold="onHoldCategory(category)"
                data-on-toggle="onToggleCategory(category)">
            </li>
        </ul>
    </ion-content>
</ion-view>
