<ion-view id="edit-flashcard-page">
    <ion-nav-title class="title title-center">
        Flashcard
    </ion-nav-title>

    <ion-nav-buttons side="right">
        <button id="save" ng-click="save()"
                class="button button-icon button-clear ion-android-checkmark-circle">
        </button>
    </ion-nav-buttons>

    <div class="tabs-striped tabs-top tabs-background-royal tabs-color-light">
        <div class="tabs">
            <a class="tab-item {{isFrontSide() ? 'active' : ''}}"
               ng-click="setCurrentSide('front')">
                Front side
            </a>
            <a class="tab-item {{!isFrontSide() ? 'active' : ''}}"
               ng-click="setCurrentSide('back')">
                Back side
            </a>
        </div>
    </div>

    <ion-content scroll="false">

        <label class="item item-input item-select">
            <div class="input-label">
                Category
            </div>
            <select ng-model="$parent.category" ng-required="true">
                <option ng-repeat="category in getCategories()" value="{{category.name}}">
                    {{category.name}}
                </option>
                <option value="">Choose category</option>
            </select>
        </label>

        <div class="page-content">
            <img ng-src="{{getImage()}}" class="image-container {{isImageLoaded() ? '' : 'hidden'}}">
            <textarea placeholder="Put some text" ng-model="$parent.text"
                      class="{{!isImageLoaded() ? '' : 'hidden'}}"></textarea>
        </div>

    </ion-content>

    <ion-footer-bar>
        <div class="button-bar">
            <a class="button button-balanced" ui-sref="app.images" ng-click="backFromImageChooser = true">
                <i class="ion-image"></i> <span ng-if="!isImageLoaded()">Load Image</span>
                <span ng-if="isImageLoaded()">Load</span>
            </a>
            <a class="button button-balanced" ng-if="isImageLoaded()" ng-click="rotateImage()">
                <i class="ion-arrow-return-left"></i> Rotate
            </a>
            <a class="button button-assertive" ng-if="isImageLoaded()" ng-click="clearImage()">
                <i class="ion-backspace-outline"></i> Erase
            </a>
        </div>
    </ion-footer-bar>
</ion-view>
