<ion-view id="images-page">
    <ion-nav-title class="title title-center">
        Images
    </ion-nav-title>
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="searchBox">
        </label>
        <ul class="list">
            <li ng-repeat="image in images | filter:searchBox">
                <a class="item item-thumbnail-left" href="#" ng-click="chooseImage(image.path)">
                    <img ng-src="{{image.thumbnailPath}}">

                    <h2>{{image.title}}</h2>

                    <p class="path">{{image.path}}</p>
                </a>
            </li>
        </ul>
    </ion-content>
</ion-view>
