<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable bar-royal">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-android-more-vertical"
                        menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable bar-balanced">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content scroll="false">
            <ion-list>
                <ion-item menu-close href="#/app/start">
                    <i class="ion-home"></i>
                    Start
                </ion-item>
                <!--<ion-item menu-close href="#/app/login">-->
                    <!--<i class="ion-log-in"></i>-->
                    <!--Login to Quizlet-->
                <!--</ion-item>-->
                <ion-item menu-close href="#/app/categories">
                    <i class="ion-ios-list-outline"></i>
                    Categories
                </ion-item>
                <ion-item menu-close href="#/app/flashcard-form/add/0">
                    <i class="ion-plus-round"></i>
                    Add a flashcard
                </ion-item>
                <ion-item menu-close href="#/app/about">
                    <i class="ion-information-circled"></i>
                    About
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
