<ion-view view-title="{{flashcard.category}}" id="start-page" start-page controller="pageController">
    <ion-nav-title class="title title-center">
        Flashcards
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button id="more" class="button button-icon button-clear ion-android-more-horizontal"
                ng-click="showPopover($event)">
        </button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <div flashcard="flashcard" category="categoryName" flashcard-view controller="flashcardController"></div>
        <div class="button-bar answers">
            <button class="button icon ion-thumbsup yes" ng-click="starUp()"></button>
            <button class="button icon ion-thumbsdown no" ng-click="starDown()"></button>
        </div>
    </ion-content>
</ion-view>
