<div class="item item-toggle">
    <h2>{{category.name}}</h2>

    <p>{{category.count}} flashcards</p>
    <label class="toggle toggle-balanced">
        <input type="checkbox" ng-model="category.active">

        <div class="track">
            <div class="handle"></div>
        </div>
    </label>
</div>