<div class="flashcard-object">
    <div class="side front">
        <h3>{{category}}</h3>
        <div class="stars" data-stars="{{flashcard.stars}}" data-stars-view></div>
        <h1>{{flashcard.front.text}}</h1>
        <img src="">
    </div>
    <div class="side back">
        <h3>{{category}}</h3>
        <div class="stars" data-stars="{{flashcard.stars}}" data-stars-view></div>
        <h1>{{flashcard.back.text}}</h1>
        <img src="">
    </div>
</div>