.category-popup-menu {
    button .action-title {
        font-size: 10px;
        display: block;
    }

    .popup-head {
        display: none;
    }
}

#categories-page .item h2,
#images-page .item h2 {
    white-space: normal;
}