#edit-flashcard-page {
    .hidden {
        display: none;
    }
    ion-content {
        top: 88px;
        display: -webkit-flex;
        -webkit-flex-direction: column;

        > label {
            -webkit-flex: none;
        }
        .page-content {
            height: 100%;
            -webkit-flex: auto;
            display: -webkit-flex;
            -webkit-flex-direction: column;

            > .image-container,
            > textarea {
                font-size: large;
                padding: 10px;
                text-align: center;
            }
            > textarea {
                -webkit-flex: 1;
            }

            > .image-container {
                max-width: 100%;
                height: auto;
                margin: auto;
            }
        }
    }
    textarea {
        border: 1px solid grey;
        width: 90%;
        margin: 5% auto;
    }
}
