[flashcard-view] {
    -webkit-transition: all 300ms cubic-bezier(0.430, 0.000, 0.520, 0.995);
    position: absolute;
    left: 10px;
    top: 0;

    &.hide-up {
        top: -800px;
        -webkit-transform: rotateZ(-90deg);
        opacity: 0.4;
    }

    &.hide-down {
        top: 800px;
        -webkit-transform: rotateZ(90deg);
        opacity: 0.4;
    }

    h3 {
        font-size: 0.8rem;
        text-align: center;
        margin: 10px 0 4px;
    }

}
.non-transition {
    -webkit-transition: none !important;
}

[flashcard-view] > .flashcard-object {
    position: relative;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin: 15px auto;
    width: 340px;
    height: 530px;
    z-index: 1;

    -webkit-box-shadow: 2px 3px 29px 6px rgba(0, 0, 0, 0.75), inset 0 0 117px -23px rgba(0, 0, 0, 0.75);
    -webkit-transform: rotateY(0);
    -webkit-transform-style: preserve-3d;

    &.reset-front {
        -webkit-transform: perspective(1000) rotateY(0) !important;
    }
    &.reset-front-360 {
        -webkit-transform: perspective(1000) rotateY(360deg) !important;
    }
    &.reset-back {
        -webkit-transform: perspective(1000) rotateY(180deg) !important;
    }
    &.reset-front, &.reset-front-360, &.reset-back {
        -webkit-transition: all 400ms cubic-bezier(0.780, 0.150, 0.335, 1.650);
    }

    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;

    h1 {
        text-align: center;
        color: black;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        width: 100%;
        margin: 15px 0 0;
        overflow: hidden;
        max-height: 300px;
        font-size: 28px;
    }

    img {
        max-width: 90%;
        max-height: 70%;
        height: auto;
        margin: auto;
        display: none;
        top: 50%;
        left: 50%;
        position: absolute;
        -webkit-transform: translateX(-50%) translateY(-50%);
    }

    .side {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -webkit-backface-visibility: hidden;

        &.back {
            -webkit-transform: translateY(-50%) rotateY(180deg);
        }

        .stars {
            text-align: center;
            color: purple;
        }

        &.with-image img {
          display: block;
        }
    }

}
#start-page ion-content {
    background-image: url("../img/background.jpg");
    background-size: 100% auto;
    background-repeat: repeat-y;
}

#flashcard-popover-menu {
    height: 155px;
}

.answers {
    position: absolute;
    bottom: 15px;
}

.answers .button {
    margin: 0 10px;
    -webkit-box-shadow: 2px 3px 29px 6px rgba(0, 0, 0, 0.75), inset 0 0 117px -23px rgba(0, 0, 0, 0.3);
    border-radius: 25px !important;
}

.answers .button.yes {
    color: forestgreen;
}

.answers .button.no {
    color: darkred;
}