@media only screen and (device-width: 360px) and (device-height: 617px) {
    [flashcard-view] > .flashcard-object {
        height: 480px;
    }
}

@media only screen and (max-device-width: 320px) and (max-device-height: 570px) {
    [flashcard-view] > .flashcard-object {
        width: 300px;
        height: 490px;
    }
}

@media only screen and (max-device-width: 320px) and (max-device-height: 500px) {
    [flashcard-view] > .flashcard-object {
        border-radius: 10px;
        padding: 10px;
        margin: 10px auto;
        width: 300px;
        height: 400px;
    }
}

@media only screen and (max-device-width: 320px) and (max-height: 520px) {
    [flashcard-view] > .flashcard-object {
        height: 370px;
    }
}

@media only screen and (device-width: 360px) and (device-height: 640px) {
    [flashcard-view] > .flashcard-object {
        height: 470px;
    }
}