.popup {
    -webkit-animation-name: none;
}

.popup-container .popup {
    width: 280px;
}

.popup-buttons {
    min-height: 45px;
    button {
        height: 45px;
    }
}

#edit-flashcard-page {
    ion-content .page-content {
        height: 90%;
    }
    ion-footer-bar {
        -webkit-transform: none;
    }
}

.title {
    -webkit-transform: none;
}

[flashcard-view].hide-up,
[flashcard-view].hide-down {
    -webkit-transition: all 100ms;
    opacity: 0;
    top: 0;
    -webkit-transform: none;
}

ion-side-menu > ion-header-bar.bar {
    -webkit-transform: none;
}

.toggle input:checked + .track .handle {
    -webkit-transform: translate(20px, 0);
}

.splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../img/splash.png);
    background-size: 100% 100%;
    z-index: 10;
}

.path {
    word-break: break-all;
}

.title, .bar {
    -webkit-transform: none !important;
}

#start-page {
    height: 100vh !important;
}