<ion-popover-view id="flashcard-popover-menu">
    <ion-header-bar class="bar-stable bar-positive">
        <h1 class="title">This flashcard...</h1>
    </ion-header-bar>
    <ion-content scroll="false">
        <ion-list class="list">
            <ion-item ng-click="editFlashcard()">
                <i class="icon ion-edit"></i>
                Edit
            </ion-item>
            <ion-item ng-click="removeFlashcard()">
                <i class="icon ion-trash-b"></i>
                Remove
            </ion-item>
        </ion-list>
    </ion-content>
</ion-popover-view>
